<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.proxy" template-url="user/views/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>

<h2>user interface</h2>
<!--<p>{{user.ctrlName}}</p>-->
<div class="container">
  <div ng-show="user.menu.length == 0">
    <div class="progress">
      <!--<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only">100% Complete</span>
      </div>-->
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        .. Cargando ..
      </div>
    </div>
  </div> <!-- TODO mostrar mensaje de cargando-->
  <div class="row">
    <div class="col-md-3">

      <!--<div class="list-group">
        <div class="list-group-item" ng-repeat="(key, value) in user.menu">{{key}}</div>
      </div>-->






      <uib-accordion ng-show="user.menu.length != 0" close-others="oneAtATime">

        <uib-accordion-group  ng-repeat="(keymenu, valuemenu) in user.menu" is-open="user.menu[keymenu].open" >
          <uib-accordion-heading>
            {{keymenu}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down':user.menu[keymenu].open,'glyphicon-chevron-right':!user.menu[keymenu].open }"></i>
          </uib-accordion-heading>

          <div class="btn-group-vertical btn-block" role="group" aria-label="..." >
            <div ng-repeat="(key, value) in valuemenu"
                 role="group"
                 ng-class="{'btn btn-default':value.child.length == 0, 'btn-group':value.child.length != 0}"

                 uib-dropdown
                  >
                <div ng-if="value.child.length == 0">

                  <a href="" ng-click="clickMenu(value.state)" >{{value.nom}}</a>
                </div>

              <button ng-if="value.child.length !== 0"  type="button" class="btn btn-default" uib-dropdown-toggle>
                <a href="">{{value.nom}} <span class="caret"></span></a>

              </button>
              <ul ng-if="value.child.length !== 0" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li ng-repeat="child in value.child">
                  <a ui-sref="{{value.state}}.{{child.state}}">{{child.name}}</a>
                </li>
              </ul>


            </div>


          </div>

        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-md-9">

      <section ui-view></section>
    </div>
  </div>
</div>

