<h2>user interface</h2>
<p>{{user.ctrlName}}</p>
<div class="container">
  <div class="row">
    <div class="col-md-2">

      <!--<div class="list-group">
        <div class="list-group-item" ng-repeat="(key, value) in user.menu">{{key}}</div>
      </div>-->

      <div ng-show="user.menu.length == 0">Cargando</div>
      <uib-accordion ng-show="user.menu.length != 0" close-others="oneAtATime">
        <!-- TODO mostrar mensaje de cargando-->
        <uib-accordion-group heading="{{keymenu}}" ng-repeat="(keymenu, valuemenu) in user.menu">
          <!--<div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-repeat="(key, value) in valuemenu">{{value.nom}}</button>

          </div>-->

          <div class="list-group">
            <div class="list-group-item" ng-repeat="(key, value) in valuemenu">
              <a href="" ng-click="clickMenu(value.state)" >{{value.nom}}</a>
            </div>

            <!--<button type="button" class="list-group-item" ng-repeat="(key, value) in valuemenu">{{value.nom}}</button>-->
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-md-6">
      <section ui-view></section>
    </div>
  </div>
</div>

