<h2>Sorteo</h2>
<!--<p>{{sorteo.ctrlName}}</p>-->

<div class='toolbar'>
    <div class='wrapper text-center'>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
          <a ui-sref="sorteo.controles">Controles</a>
        </label>
        <label class="btn btn-default">
          <a ui-sref="sorteo.administrar">Administrar</a>
        </label>
        <label class="btn btn-default">
          <a ui-sref="sorteo.pagos">Pagos</a>
        </label>
        <label class="btn btn-default">
          <a ui-sref="sorteo.promociones">Promociones</a>
        </label>
      </div>
    </div>
</div>


<section ui-view></section>
